<h1>映画の詳細ページ</h1>

<%= @content.name %>

<br>

      
      
      <table border="2">
  <tr>
    <th>出演者ID</th><th>出演者</th>
  </tr>
  <% @content.actors.each do |actor| %>
  <tr>
    <td><%= actor.id %></td><td><%= link_to(actor.name, "/actors/#{actor.id}") %></td>
  </tr>
 
  <% end %>
</table>

<%= link_to("作品名の編集","/contents/#{@content.id}/edit") %>
<br>

<%= form_tag("/actors/create") do %>
  <h1>Castの作成と追加</h1>
  <textarea name ="name"></textarea> 
  
  <input type = "hidden" name ="id" value="<%= @content.id %>"></textarea> 
  
  <input type="submit" value="Cast登録" >
<% end %>



