<h1><%= link_to(@actor.name, "/actors/#{@actor.id}") %></h1>

<%= form_tag("/actors/#{@actor.id}/update",{multipart: true}) do %>
  <textarea name ="name"><%= @actor.name %></textarea>
  <input name ="image_name" type="file">
  <input type="submit" value="更新">
<% end %>
<br>
<img src="<%= "/actor_images/#{@actor.image_name}" %>">
<br>
<h1>出演作品</h1>
<br>
<table border="2">
  <tr>
    <th>作品ID</th><th>作品名</th><th>視聴日時</th>
  </tr>
  <% @actor.contents.each do |content| %>
  <tr>
    <td><%= content.id %></td><td><%= link_to(content.name, "/contents/#{content.id}") %></td><td><%= content.watchedday %></td>
  </tr>
 
  <% end %>
</table>

