<!DOCTYPE html>
<html>
  <head>
    <title>Kinemania3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <header>
      <div class="header-logo">
        <%= link_to("kinemania", "/") %>
      </div>
      <ul class="header-menus">
        
        <% if @current_user %>
          <% if @current_user.name == "irojiroserika" or "admin" %>
            <li>
              あなたは編集を許可されたユーザーです
            </li>
          <% end %>
         <li>
          現在ログインしているユーザーの名前:
          <%= @current_user.name %>
        <li>
          <%= link_to("作品登録", "/contents/new") %>
        </li>
        <li>
          <%= link_to("ログアウト", "/logout", {method: :post}) %>
        </li>
        <% else %>
          <li>
          <%= link_to("ログイン", "/login") %>
        </li>
        <li>
          <%= link_to("ユーザー作成", "/users/new") %>
        </li>
        <% end %>
        </li>
        <li>
          <%= link_to("ユーザー一覧", "/users/index") %>
        </li>
        <li>
          <%= link_to("視聴済み作品一覧", "/contents/index") %>
        </li>
        <li>
          <%= link_to("キャスト一覧", "/actors/index") %>
        </li>
      </ul>
    </header>
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
