<!DOCTYPE html>
<html>
  <head>
    <title>Kinemania3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <header>
      <div class="header-logo">
        <%= link_to("kinemania", "/") %>
      </div>
      <ul class="header-menus">
        <li>
          <%= link_to("映画一覧", "/contents/index") %>
        </li>
        <li>
          <%= link_to("新しく映画を見た", "/contents/new") %>
        </li>
        <li>
          <%= link_to("出演者一覧", "/actors/index") %>
        </li>
      </ul>
    </header>
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
